<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Bluethink. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="bluethink::base" title="Bluethink" module="Bluethink_Custom" sortOrder="90" resource="Bluethink_Custom::sample"/>
        <add id="bluethink_custom::custom" title="Items" module="Bluethink_Custom" sortOrder="10" parent="bluethink::base" action="bluethink_custom/items/" resource="Bluethink_Custom::items"/>
    </menu>
</config>
